*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
*::selection
{
    color: #fff;
    background-color: #000;
}
html, body
{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background-image: url('../images/w1.webp');
}
#nav{
    top:0;
    height: 80px;
    width: 100vmax;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 150px;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
}
#nav a{
    text-decoration: none;
    color: #FFCC00;
}

#nav img{
    position: relative;
    right: -35rem;
    height: 8rem;
}

.head
{   
    height: 80dvh;
    width: 100vmax;
    /* background-image: url('../images/w1.webp'); */
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    /* border:5px solid gold; */
}
.head .headline
{
   margin-left: 3vw;
   width: 27%;
   display: flex;
   align-items: center;
}
.head h1 
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  -webkit-text-stroke: 0.8px rgba(255, 217, 0, 0.974);
  font-size: 4vmax;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1;
  margin-right: 0.3vw;
  transition: transform 0.3s ease, color 0.3s ease, -webkit-text-stroke 0.3s ease;
}
.head:hover h1 {
    transform: scale(1.1); 
    color: rgba(255, 217, 0, 1); 
    -webkit-text-stroke: 1px rgba(255, 217, 0, 1); 
}
.head p
{
    width: 75%;
    font-family: serif;
    font-size: 1.3vmax;
    color:rgba(248, 224, 86, 0.882) ;
    line-height: 3.5vh;
}
.line
{
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.line.show
{
    opacity: 0.7;
}
.head .himg
{
    width:26vmax;
}
.himg img
{
    width: 100%;
}

.intro {
    font-family: 'Gill Sans';
    width: 100vmax;
    /* margin-top: 6vh; */
    /* margin-left: 4vw; */
    /* border-radius: 3.8px; */
    /* background-color: #FFCC00; */
    height: 20dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.intro p {
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmax;
    font-weight: 550;
    line-height: 4vh;
    color: white;
    text-shadow: -0.3px -0.3px 0 white, /* Top-left */ 0.1px -0.3px 0 white, /* Top-right */ -0.3px 0.1px 0 white, /* Bottom-left */ 0.1px 0.1px 0 white;
}
.content-body
{
    /* margin-top:5vmax; */
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.content
{
    position: relative;
    display: flex;
    justify-content:center;
    gap: 5vw;
    width: 100vmax;
    /* margin-bottom: 2vmax; */
    background-color: #fff;
}

.content .w-img
{
    width:30vmax;
}
.content .w-img img
{
    width: 100%;
    height: 100%;
}
.w-img img
{
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s,box-shadow 0.3s;
     
}
.w-img img:hover
{
    transform: scale(1.1);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 1.5);
}
.content .psg h1
{
    position: relative;
    color: #000;
    font-weight: 1000;  
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}
.content .psg
{
    margin-top: 5vh;
    line-height: 5vh;
    width: 40vmax;
    font-size: 1.5vmax;
    max-height: 200px;
    overflow:hidden;
    overflow-y:auto;
    color: #ffe714d7;
}
.content .scrollpsg
{
    /* border: 2px solid #FFCC00; */
    background-color: #FFCC00;
    border-radius:10px;
    font-weight: 550;
    color: brown;
}
::-webkit-scrollbar {
    display: none;
  }
  .second
  {
    flex-direction: row-reverse;
  }

  footer .foot
  {
    background-color: #000000e1;
    width: 100vmax;
    height:27vmax;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3vw;
  }

  footer .foot .fimg
  {
    width:24vmax;
    position: relative;
    top:3.5vh;
    margin-left: 3vw;
   }
   .fcontent
{
    position: relative;
    display: flex;
    justify-content:center;
    gap: 5vw;
    width: 100vmax;
    /* margin-bottom: 2vmax; */
    /* background-color: #fff; */
}
  .fimg img
  {
    width: 100%;
    height: 100%;
  }
  .foot .fcontent
  {
    margin-right: 9vmax;
  }
  .fcontent .content1
  {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    color: #fff;
    font-size: 1.2vmax;
  }
  .fcontent .content1 p
  {
    font-family: serif;
  }
  .fcontent .content1 h2 
  {
    font-weight: 500;
    letter-spacing: 2;
    font-family: serif;
  }
  .reserved
  {
    width: 100vmax;
    display: flex;
    justify-content: center;
    background-color: #000000e1;
    color: #fff;
    font-size:1.5vmax;
  }

  @media (max-width:600px)
  {
    .intro
    {
        width: 75vmax;
        margin-left: 10vmax;
    }
    .intro p{
        font-size: 2.5vh;
        line-height: 4vh;
    }
    .content
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4.5vh;
    }
    footer .foot
    {
        gap: 0;
    }
    footer .foot .fimg 
    {
        margin-left: 5vw;
        margin-right: 1vmax;
    }
    .foot .content 
    {
        width: 70%;
        margin-right: 1vmax
    }

    .content .w-img
    {
        width:70vmax;
    }
    .content .psg h1
    {
        display: flex;
        justify-content: center;
    }
    .content .psg
    {
        width: 80vmax;
        font-size: 3vh;
    }
    .content .content1
    {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-right: 0;
        gap:3vh;
        width: 100%;
    }
    .content .content2 
    {
        width: 100%;
    }
    .content .content2 .mid
    {
        margin-left: auto;
    }
    .content .content1 h2
    {
        width: 26%;
    }
    .content .content2 h2
    {
        width: 26%;
    }
  }