*{
    margin: 0;
    padding: 0;    
    font-family: 'Josefin Sans', sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
#nav{
    top:0;
    height: 6rem;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 150px;
    position: fixed;
    z-index: 999;
}
#nav a{
    text-decoration: none;
    color: #3EB489;
}

#nav img{
    position: relative;
    right: -35rem;
    height: 8rem;
}
#about{
    min-height: 36dvh;
    background-color: #000;
    color: #FFCC00;
    position: relative;
    bottom: -153px;
}
#footercontent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
}
#flogo {
    margin-top: 3rem;
    height: 12rem;
}
#content1{
    margin-left: -4%;
}
#content2 a{
    text-decoration: none;
    color: #FFCC00;
}
#content2  img{
    height: 15px;
}

#content3 p{
    margin: 0 0 0 40%;
}

@media only screen and (max-width:1024px){
    #nav{
        padding: 0 3rem;
    }
    #nav img {
        right: -22rem;
    }
    #about{
        height: 40dvh;
        bottom: -9rem;
    }
    #flogo {
        margin-top: 3rem;
        height: 12rem;
    }
    #content2  img{
        height: 15px;
    }
}
@media only screen and (max-width:768px){

    #nav img {
        right: -8rem;
    }

    #fRight .images{
        height: 80%;
    }

    #content1 h3{
        font-size: 1rem
    }
    #content3 p {
        margin: 1rem 0 0px 15rem;
    }
}

@media only screen and (max-width:426px){
    #nav{
        height: 3rem;
        gap: 0.7rem;
    }
    #nav a{
        font-size: 0.6rem;
    }
    #flogo{
        height: 7rem;
    }
    #footercontent{
        gap: 2rem;
    }
    #flogo{
        margin-top: 0;
    }
    #content1 h3{
        font-size: 0.7rem;
    }
    #content2 h3 {
        font-size: 0.7rem;
    }
    #content3 p {
        font-size: 0.8rem;
        margin: 1rem 0 0px 6rem;
    }
}