*{
    margin: 0;
    padding: 0;    
    font-family: 'Josefin Sans', sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
#nav{
    top:0;
    height: 80px;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 150px;
    position: fixed;
    z-index: 999;
}
#nav a{
    text-decoration: none;
    color: #FFCC00;
}

#nav img{
    margin: 25px 0 0 42%;
    height: 160px;
}

video{
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}

#page1{
    height: 100dvh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
    
}
#page1 h1{
    font-size: 80px;
    font-weight: 900;
    color: #FFCC00;
    position: relative;
}
#page1 h1::before{
    content: "INDIA AND IT'S BEAUTY";
    position:absolute;
    color: black;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 3px #DFFF00;
    z-index: -1;
}
#page1 h3{
    font-weight: 900;
    font-size: 25px;
    color: #FFCC00;
}
#page1 p{
    width: 50%;
    font-size: 15px;
    text-align: center;
    color: WHITE;
}
#page2{
    min-height: 100dvh;
    width: 100%;
    z-index: 10;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
.scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: transparent;
    -webkit-text-stroke:4px #FFCC00;
    transition: all linear 0.5s;
}
#scroller h4:hover{
    color: #FFCC00;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
}

#cardContainer{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
    margin-top: 6%;
}
#cardContainer .card{
    background-color: #FFCC00;
    height:80%;
    width:24%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: transform 1.2s ; 
}

.card1{
    background-image: url(images/card1.png);
}
.card2{
    background-image: url(images/card2.jfif);
}
.card3{
    background-image: url(images/card3.jpg);
}

.overlay{
    position: relative;
    height: 100%;
    width: 100%;
    background: #FFCC00;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    opacity: 0;
    transition: all ease 0.8s;
  }
  .card:hover .overlay{
    opacity: 1;
  }

  .card:hover{
    transform: scale(1.1);
  }
  .overlay h4{
    font-size: 40px;
    text-transform: uppercase;
    color: black;
    
  }
  .overlay p{
    color: black;
  }

#page3{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page3 #HighlightContainer{
    height: 75dvh;
    width: 70%;
    background: linear-gradient(to left bottom,#FFCC00,#FFDF00);
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}
#highlights h1{
    width: 55%;
    font-weight: 800;
    text-transform: uppercase;
    color: Brown;
    margin-left: 18%;
}

#highlights p{
    margin-top: 25px;
    width: 45%;
    margin-left: 20%;
}

#highlight-video{
    width: 175%;
    height: 65dvh;
    margin-right: 10%;
}
#highlight-video video{
    width: 100%;
    z-index: 10;
    position: relative;
    border-radius: 15px;
}

#page4{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page4 #statement{
    width: 100%;
    height: 35%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#page4 #statement h1{
    font-weight: 800;
    text-transform: uppercase;
    color: #FFCC00;
}
#page4 #statement p{
    margin-top: 25px;
    width: 70%;
    color: white;
}
#container{
    height: 55%;
    margin-top: 4%;
    /* background-color: red; */
    width: 90%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
#imageSlider{
    position: relative;
    overflow: hidden;
    width: 45%;
    height: 100%;
}
.slide{
    height: 95%;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    transition: 1.3s;
}
.arrow{
    color: #FFCC00;
    font-size: 65px;
    position: relative;
}
#content{
    width: 50%;
}
#content h1{
    font-weight: 800;
    font-size: 45px;
}
#content p{
    font-size: 14px;
}

#page5{
    height: 70dvh;
}
#endQuote{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#text{
    padding-top: 8%;
    position: relative;
    width: 40%;    
}

#text p{
    font-weight: 900;
    text-align: center;
    line-height: 25px;
}

#page5 img{
    height: 40px;
}

#quote1{
    position: relative;

}

#quote2{
    position: relative;
    top: 120px;
    rotate: 180deg;
}
footer{
    min-height: 36dvh;
    background-color: #000;
    color: #FFCC00;
    position: relative;
}
#footercontent{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 28dvh;
}
#footercontent img{
    margin-top: 10px;
    height: 250px;
}
#content1{
    margin-left: -4%;
}
#content2 a{
    text-decoration: none;
    color: #FFCC00;
}
#content2  img{
    height: 15px;
}

#content3 p{
    margin: 0 0 0 40%;
}