*{
    margin: 0;
    padding: 0;    
    font-family: 'Josefin Sans', sans-serif;
}
html{
    scroll-behavior: smooth ;
}
body{
    height: 100%;
    width: 100%;
}
#nav{
    top:0;
    height: 6rem;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 150px;
    position: fixed;
    z-index: 999;
}
#nav a{
    text-decoration: none;
    color: #FFCC00;
}

#nav img{
    position: relative;
    right: -35rem;
    height: 8rem;
}

video{
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}

#page1{
    height: 100dvh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
    gap: 1.5rem;
}
#page1 h1{
    font-size: 5rem;
    font-weight: 900;
    color: #FFCC00;
    position: relative;
}
#page1 h1::before{
    content: "INDIA AND IT'S BEAUTY";
    position:absolute;
    color: black;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 3px #DFFF00;
    z-index: -1;
}
#page1 h3{
    font-weight: 900;
    font-size: 1.7rem;
    color: #FFCC00;
}
#page1 p{
    width: 50%;
    font-size: 1rem;
    text-align: center;
    color: WHITE;
}
#page2{
    min-height: 100dvh;
    width: 100%;
    z-index: 10;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
.scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: transparent;
    -webkit-text-stroke:4px #FFCC00;
    transition: all linear 0.5s;
}
#scroller h4:hover{
    color: #FFCC00;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
}

#cardContainer{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
    margin-top: 6%;
}
#cardContainer .card{
    background-color: #FFCC00;
    height:80%;
    width:24%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: transform 1.2s ; 
}

.card1{
    background-image: url(images/card1.png);
}
.card2{
    background-image: url(images/card2.jfif);
}
.card3{
    background-image: url(images/card3.jpg);
}

.overlay{
    position: relative;
    height: 100%;
    width: 100%;
    background: #FFCC00;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    opacity: 0;
    transition: all ease 0.8s;
    gap: 1rem;
  }
  .card:hover .overlay{
    opacity: 1;
  }

  .card:hover{
    transform: scale(1.1);
  }
  .overlay h4{
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
    
  }
  .overlay p{
    color: black;
    font-weight: 600;
  }

#page3{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page3 #HighlightContainer{
    height: 75dvh;
    width: 70%;
    background: linear-gradient(to left bottom,#FFCC00,#FFDF00);
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}
#highlights h1{
    width: 55%;
    font-weight: 800;
    text-transform: uppercase;
    color: Brown;
    margin-left: 5rem;
}

#highlights p{
    margin-top: 1.4rem;
    width: 45%;
    margin-left: 6rem;
}

#highlight-video{
    width: 175%;
    height: 65dvh;
    margin-right: 10%;
}
#highlight-video video{
    width: 100%;
    z-index: 10;
    position: relative;
    border-radius: 15px;
}

#page4{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page4 #statement{
    width: 100%;
    height: 20rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#page4 #statement h1{
    font-weight: 800;
    text-transform: uppercase;
    color: #FFCC00;
}
#page4 #statement p {
    margin-top: 2rem;
    width: 54rem;
    color: white;
}
#container{
    height: 55%;
    margin-top: 4%;
    /* background-color: red; */
    width: 90%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
#imageSlider{
    position: relative;
    overflow: hidden;
    width: 31rem;
    height: 19rem;
    border-radius: 12px;
}
.slide{
    height: 19rem;
    width: 29rem;
    position: absolute;
    border-radius: 15px;
    transition: 1.3s;
    object-fit: cover;
}
.arrow{
    color: #FFCC00;
    font-size: 4.5rem;
    position: relative;
}
#content{
    width: 50%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
#content h1{
    font-weight: 800;
    font-size: 3rem;
}
#content p{
    font-size: 0.9rem;
}

#page5{
    height: 70dvh;
}
#endQuote{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
#text{
    margin-top: 9rem;
    position: relative;
    width: 40rem;    
}

#text p{
    font-weight: 900;
    text-align: center;
    line-height: 25px;
}

#page5 img{
    height: 2.2rem;
}

#quote1{
    position: relative;

}

#quote2{
    position: relative;
    top: 120px;
    rotate: 180deg;
}
/* #about{
    min-height: 36dvh;
    background-color: #000;
    color: #FFCC00;
    position: relative;
}
#footercontent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
}
#flogo {
    margin-top: 3rem;
    height: 12rem;
}
#content1{
    margin-left: -4%;
}
#content2 a{
    text-decoration: none;
    color: #FFCC00;
}
#content2  img{
    height: 15px;
}

#content3 p{
    display: flex;
    justify-content: center;
} */
footer{
    position: relative;
}
footer .foot
  {
    background-color: #000000e1;
    width: 98.5vmax;
    height:27vmax;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3vw;
  }

  footer .foot .fimg
  {
    width:24vmax;
    position: relative;
    top:3.5vh;
    margin-left: 3vw;
   }
  .fimg img
  {
    width: 100%;
    height: 100%;
  }
  .foot .content
  {
    margin-right: 9vmax;
  }
  .content .content1
  {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    color: #fff;
    font-size: 1.2vmax;
  }
  .content .content1 h1 
  {
    font-weight: 550;
    letter-spacing: 2;
  }
  .reserved
  {
    width: 98.5vmax;
    display: flex;
    justify-content: center;
    background-color: #000000e1;
    color: #fff;
    font-size:1.5vmax;
  }
  .content
{
    position: relative;
    display: flex;
    justify-content:center;
    gap: 5vw;
    width: 100vmax;
    margin-bottom: 2vmax;
}
/* @media only screen and (width<1602px){
    #page1 h1{
        font-size: 100px;
    }
    #page1 h3{
        font-size: 40px;
    }
    #page1 p{
        width: 70%;
        font-size: 25px;
    }
    .overlay h4{
        font-size: 55px;
    }
    .overlay p{
        font-size: 25px;
    }
    #page4 #statement h1 {
        font-size: 40px;
    }
    #page4 #statement p {
        font-size: 26px;
    }
    #container{
        flex-direction: column;
        height: 100%;
    }
    .arrowLeft{
        left: -30%;
        top: 35%;
        font-size: 100px;
    }
    .arrowRight{
        right: -30%;
        bottom: 30%;
        font-size: 100px;
    }
    #content{
        text-align: center;
    }
    #content p{
        font-size: 20px;
    }
    #page5{
        height: 40dvh;
    }
    #highlights h1{
        font-size: 50px;
        width: 100%;
        margin-left:0;
    }
    #highlights p{
        font-size: 27px;
        width: 90%;
        margin-left: 3%;
    }
    #text p {
        font-size: 22px;
    }
} */

/* @media only screen and (max-width:1324px){
    #page3 #HighlightContainer {
        flex-direction: column-reverse;
    }
    #highlight-video {
        width: 38%;
        height: 50dvh;
         margin-right: 0; 
         margin-bottom: 25px;
    }
} */
@media (min-width:576px){
    
}